.product-image {
	height: 300px;
	width: 300px;
}

.width-300 {
	width: 300px;
}

.hover-opaque:hover {
  opacity: 75%;
  cursor: hand;
}

.hover-scale:hover {
    transform:scale(1.01,1.01);
    -webkit-transform:scale(1.01,1.01);
    -moz-transform:scale(1.01,1.01);
    transition: all 0.2s ease-in-out;
}

.hover-scale-2:hover {
    transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    transition: all 0.2s ease-in-out;
}