<section class="py-5 text-center container-fluid mt-" style="background-image: url({{url_for('static', filename='img/banner.png')}}); background-size: 100%; background-repeat: no-repeat;">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Order Your Meal Now</h1>
      <p class="lead text-muted">Find Vast Categories of Scrumptious Delicacies From Various Outlets at Your Luxury</p>
      <!-- <p>
        <a href="#products" class="btn btn-primary my-2">Order Now</a>
      </p> -->
    </div>
  </div>
</section>