<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<div class="col-md-4">
				<h2>Contact Us</h2>
				<div style="overflow-x: auto;">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td class="text-center"><span class="fa fa-phone fa-2x"></td>
								<td>0781902516</td>
							</tr>
							<tr>
								<td class="text-center"><span class="fa fa-envelope fa-2x"></td>
								<td>samuelitwaru@gmail.com</td>
							</tr>
							<tr>
								<td class="text-center"><span class="fa fa-facebook fa-2x"></td>
								<td>facebook.com/samuelitwaru</td>
							</tr>
							<tr>
								<td class="text-center"><span class="fa fa-twitter fa-2x"></td>
								<td>@samuelitwaru</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-md-4">
				<h2>Partners</h2>
				<table class="table">
					<tbody>
						<tr>
							<td class="text-center"><span class="fa fa-star-o"></td>
							<td>Bamboo Village</td>
						</tr>
						<tr>
							<td class="text-center"><span class="fa fa fa-star"></td>
							<td>Oasis</td>
						</tr>
						<tr>
							<td class="text-center"><span class="fa fa fa-star-o"></td>
							<td>Maisha</td>
						</tr>
						<tr>
							<td class="text-center"><span class="fa fa fa-star"></td>
							<td>Town Grill & BBQ</td>
						</tr>
						<tr>
							<td colspan="2"><a href="">More</a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-4">
				<h2>Do you have a bar or restaurant?</h2>
				<hr class="w-75">
				<div>
					<span class="fa fa-handshake-o fa-3x"></span>
					<div>
						<button class="btn btn-primary my-2">Partner with Us</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>