<div class="album py-5 bg-light" id="products">
    <div class="container">
        <div class="d-flex justify-content-around flex-wrap">
            <div class="width-300 my-2">
                <div class="card shadow-sm">
                    <a href="{{url_for('product.get_product', product_id=1)}}">
                        <img class="bd-placeholder-img card-img-top hover-scale hover-opaque" width="100%" src="{{url_for('static', filename='img/banner1.jpeg')}}" />
                    </a>

                    <div class="card-body">
                        <p class="card-text">Beef Burger - Town Grill</p>
                        <strike class="text-warning">UGX 22,000</strike>
                        <p><strong>UGX 16,000</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{url_for('product.get_product', product_id=1)}}" class="btn btn-primary hover-scale-2">Order</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="width-300 my-2">
                <div class="card shadow-sm">
                    <a href="{{url_for('product.get_product', product_id=1)}}">
                        <img class="bd-placeholder-img card-img-top hover-scale hover-opaque" width="100%" src="{{url_for('static', filename='img/banner2.jpg')}}" />
                    </a>

                    <div class="card-body">
                        <p class="card-text">Beef Burger - Town Grill</p>
                        <strike class="text-warning">UGX 22,000</strike>
                        <p><strong>UGX 16,000</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{url_for('product.get_product', product_id=1)}}" class="btn btn-primary hover-scale-2">Order</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="width-300 my-2">
                <div class="card shadow-sm">
                    <a href="{{url_for('product.get_product', product_id=1)}}">
                        <img class="bd-placeholder-img card-img-top hover-scale hover-opaque skeleton-loader-image" width="100%" src="{{url_for('static', filename='img/banner3.jpg')}}" />
                    </a>

                    <div class="card-body">
                        <p class="card-text">Beef Burger - Town Grill</p>
                        <strike class="text-warning">UGX 22,000</strike>
                        <p><strong>UGX 16,000</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{url_for('product.get_product', product_id=1)}}" class="btn btn-primary hover-scale-2">Order</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="width-300 my-2">
                <div class="card shadow-sm">
                    <a href="{{url_for('product.get_product', product_id=1)}}">
                        <img class="bd-placeholder-img card-img-top hover-scale hover-opaque skeleton-loader-image" width="100%" src="{{url_for('static', filename='img/banner2.jpg')}}" />
                    </a>

                    <div class="card-body">
                        <p class="card-text">Beef Burger - Town Grill</p>
                        <strike class="text-warning">UGX 22,000</strike>
                        <p><strong>UGX 16,000</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{url_for('product.get_product', product_id=1)}}" class="btn btn-primary hover-scale-2">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>